@charset "UTF-8";
.colors {
  color: #ff2e63;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Oxygen", sans-serif;
  font-size: 1.6rem;
  color: #eaeaea;
  background-color: #2d3139;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  height: 60px;
  background-color: #2d3139;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.nav__logo {
  padding: 0.5em;
  font-size: 2.4rem;
  font-weight: bold;
  color: #08d9d6;
}
.nav__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  height: 320px;
  width: 100%;
  translate: 0;
  background-color: #2d3139;
  translate: 200% 0;
  transition: translate 0.5s;
}
.nav__menu--active {
  translate: 0;
}
.nav__menu-items {
  color: #eaeaea;
  text-decoration: none;
}
.nav__bars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 0.5em;
}
.nav__bars-item {
  height: 3px;
  width: 30px;
  border-radius: 10px;
  transition: rotate 0.3s, opacity 0.2s, translate 0.3s 0.1s;
}
.nav__bars-item:nth-child(odd) {
  background-color: #08d9d6;
}
.nav__bars-item:nth-child(2) {
  background-color: #ff2e63;
}
.nav__bars-show .nav__bars-item:nth-child(1) {
  rotate: -45deg;
  translate: 0 8px;
}
.nav__bars-show .nav__bars-item:nth-child(2) {
  opacity: 0;
}
.nav__bars-show .nav__bars-item:nth-child(3) {
  rotate: 45deg;
  translate: 0 -8px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
  height: 100vh;
  text-align: center;
  background-color: #252a34;
}
.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__title {
  margin: 0.2em 0;
  font-size: 4rem;
  font-weight: bold;
}
.header__text-One, .header__text-Two {
  font-size: 2.4rem;
  font-weight: lighter;
}
.header__text-One {
  color: #08d9d6;
}
.header__text-Two {
  color: #ff2e63;
}
.header__text-Three {
  margin-top: 2em;
  width: 80%;
  font-size: 1.4rem;
  font-weight: lighter;
}
.header__btns {
  display: flex;
  gap: 25px;
  margin-top: 2.5em;
}
.header__btns-btn {
  padding: 0.1em 0.2em;
  height: 28px;
  width: 95px;
  border: none;
  border-radius: 8px;
  color: #2d3139;
}
.header__img {
  display: none;
}

.main {
  background-color: #252a34;
}

.strongPages {
  padding: 2em 0;
  background-color: #eaeaea;
}
.strongPages__boxOne, .strongPages__boxTwo, .strongPages__boxThree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em 1em;
}
.strongPages__title {
  font-size: 2.4rem;
  font-weight: bold;
  color: #ff2e63;
}
.strongPages__text {
  font-size: 2rem;
  color: #252a34;
}

.about {
  text-align: center;
  padding-bottom: 2em;
  background-color: #252a34;
}
.about__img {
  display: none;
}
.about__title {
  padding: 2em 1em;
  font-size: 1.8rem;
  font-weight: bold;
}
.about__title span {
  font-size: 3.2rem;
  color: #eaeaea;
  text-decoration: none;
}
.about__text {
  padding: 0 2em;
  font-size: 1.4rem;
}
.about__contactBox {
  margin-top: 2em;
}

.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 4.5em;
  background-color: rgba(217, 217, 217, 0.1);
}
.experience__title {
  padding: 2em 0;
  font-size: 1.8rem;
  font-weight: bold;
}
.experience__title span {
  font-size: 3.2rem;
}
.experience__box {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 4em 0;
}
.experience__box-html, .experience__box-css, .experience__box-js, .experience__box-react {
  position: relative;
  height: 20px;
  width: 220px;
  background-color: #eaeaea;
}
.experience__box-html::after, .experience__box-css::after, .experience__box-js::after, .experience__box-react::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #08d9d6;
}
.experience__box-html::before, .experience__box-css::before, .experience__box-js::before, .experience__box-react::before {
  position: absolute;
  top: -25px;
  left: 0;
}
.experience__box-html::after {
  width: 90%;
}
.experience__box-html::before {
  content: "html";
}
.experience__box-css::after {
  width: 95%;
}
.experience__box-css::before {
  content: "css";
}
.experience__box-js::after {
  width: 85%;
}
.experience__box-js::before {
  content: "js";
}
.experience__box-react::after {
  width: 50%;
}
.experience__box-react::before {
  content: "react";
}
.experience__box-percent {
  position: absolute;
  right: 0;
  top: -25px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 0 1em;
  height: 100vh;
  text-align: center;
  color: #ff2e63;
  background-color: #252a34;
}
.contact__title {
  font-size: 4rem;
  animation: text 3s alternate infinite;
}
.contact__text {
  font-size: 2rem;
  font-weight: lighter;
}

@keyframes text {
  to {
    color: #08d9d6;
  }
  from {
    color: #ff2e63;
  }
}
.price {
  padding-bottom: 4.5em;
  scroll-margin-top: 60px;
  text-align: center;
}
.price__title {
  padding: 2em 0;
  font-size: 1.8rem;
  font-weight: bold;
}
.price__title span {
  font-size: 3.2rem;
}
.price__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.price__box-cardOne, .price__box-cardTwo, .price__box-cardThree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 290px;
  color: #252a34;
  border-radius: 40px;
  background-color: #eaeaea;
}
.price__box-title {
  margin-bottom: 1em;
  font-size: 2.4rem;
  font-weight: bold;
  color: #08d9d6;
}
.price__box-text {
  padding: 0 1em;
  font-size: 1.4rem;
}
.price__box-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.4em;
  height: 40px;
  width: 140px;
  font-size: 1.4rem;
  color: #eaeaea;
  background-color: #252a34;
  border-radius: 10px;
}

.project {
  width: 100%;
  margin-top: 2em;
  padding: 4em 0;
  text-align: center;
  background-color: #eaeaea;
}
.project__title {
  padding: 2em 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: #252a34;
}
.project__title span {
  font-size: 3.2rem;
}
.project__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.project__box-card {
  position: relative;
  width: 450px;
  height: 250px;
  scale: 0.6;
  border-radius: 5px;
  background-size: cover;
}
.project__box-card::after {
  position: absolute;
  top: -40px;
  left: 50%;
  font-size: 2.2rem;
  color: #252a34;
  transform: translate(-50%);
}
.project__box-card:nth-child(1) {
  background-image: url("../img/portfolioOne.svg");
}
.project__box-card:nth-child(1)::after {
  content: "aktualny projekt";
}
.project__box-card:nth-child(2) {
  background-image: url("../img/portfolioTwo.svg");
}
.project__box-card:nth-child(2)::after {
  content: "pierwszy projekt";
}
.project__box-card:nth-child(3) {
  background-image: url("../img/portfolioThree.svg");
}
.project__box-card:nth-child(3)::after {
  content: "trzeci projekt (nieskończony)";
  top: -65px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding: 2em 1em;
  color: #252a34;
  background-color: #eaeaea;
}
.footer__box {
  text-align: center;
}
.footer__title-phone {
  color: #252a34;
  text-decoration: none;
}

@media (min-width: 768px) {
  .nav {
    left: 50%;
    width: 100%;
    height: 70px;
    transform: translate(-50%);
  }
  .nav__logo {
    font-size: 3.6rem;
  }
  .nav__bars {
    display: none;
  }
  .nav__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 0;
    height: 100%;
    width: 45%;
    translate: 0;
  }
  .nav__menu-items {
    margin-right: 1em;
    font-size: 2rem;
    color: #eaeaea;
    text-decoration: none;
    transition: color 0.3s;
  }
  .nav__menu-items:hover {
    color: #ff2e63;
  }
  .header__title {
    font-size: 4.8rem;
  }
  .header__text-One, .header__text-Two {
    font-size: 3.6rem;
  }
  .header__text-Three {
    width: 65%;
    font-size: 1.6rem;
  }
  .header__btns {
    margin-top: 4.5em;
    gap: 70px;
  }
  .header__btns-btn {
    height: 42px;
    width: 142px;
    font-size: 1.6rem;
    font-weight: lighter;
    transition: scale 0.3s;
  }
  .header__btns-btn:hover {
    scale: 1.1;
  }
  .about__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about__title {
    font-size: 2.4rem;
  }
  .about__title span {
    font-size: 4rem;
  }
  .about__text {
    width: 80%;
    font-size: 2rem;
  }
  .about__contactBox {
    font-size: 2rem;
  }
  .experience__title {
    font-size: 2.4rem;
  }
  .experience__title span {
    font-size: 4rem;
  }
  .experience__box-html, .experience__box-css, .experience__box-js, .experience__box-react {
    width: 450px;
  }
  .experience__box-html::before, .experience__box-css::before, .experience__box-js::before, .experience__box-react::before {
    top: -40px;
    font-size: 2.4rem;
  }
  .experience__box-percent {
    top: -40px;
    font-size: 2.4rem;
  }
  .price {
    scroll-margin-top: 70px;
  }
  .price__title {
    font-size: 2.4rem;
  }
  .price__title span {
    font-size: 4rem;
  }
  .price__box-cardOne, .price__box-cardTwo, .price__box-cardThree {
    justify-content: space-around;
    height: 350px;
    width: 380px;
  }
  .price__box-title {
    padding-top: 1em;
    font-size: 3.2rem;
  }
  .price__box-text {
    margin-bottom: 0.5em;
    padding: 0 1.2em;
    font-size: 1.6rem;
  }
  .price__box-btn {
    margin-bottom: 1em;
  }
  .project__title {
    font-size: 2.4rem;
  }
  .project__title span {
    font-size: 4rem;
  }
  .project__box {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    height: 700px;
  }
  .project__box-card::after {
    top: -100px;
    font-size: 3.2rem;
  }
  .project__box-card:nth-child(3)::after {
    top: -110px;
  }
  .footer {
    gap: 50px;
  }
  .footer__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  .footer__box-cardTwo {
    width: 40%;
  }
}
@media (min-width: 992px) {
  .header {
    position: relative;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    padding: 0 6em;
  }
  .header__wrapper {
    align-items: flex-start;
  }
  .header__text-Three {
    width: 45%;
  }
  .header__img {
    display: block;
    position: absolute;
    left: 75%;
    width: 400px;
    height: 450px;
    background-image: url("../img/PhotoOneTwo.svg");
    transform: translate(-75%);
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .strongPages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    width: clamp(80%, 800px, 1200px);
    height: 150px;
    border-radius: 70px;
  }
  .about {
    display: flex;
    gap: 5%;
    margin: 10em 0;
  }
  .about__img {
    display: block;
    margin-left: 5em;
    height: 425px;
    width: 560px;
    background-size: cover;
    background-image: url("../img/photoTwoTwo.svg");
  }
  .about__box {
    margin-left: 0 20em;
    align-items: flex-start;
    text-align: left;
    width: 50%;
  }
  .about__title {
    padding: 2em 0;
  }
  .about__text {
    padding: 0;
  }
  .experience {
    padding: 5em 0;
    width: 100%;
  }
  .experience__box {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70%;
  }
  .contact {
    width: 100%;
  }
  .price {
    padding-bottom: 5.8em;
  }
  .price__box {
    min-height: 550px;
    margin-top: 4.5em;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .price__box-cardOne {
    order: 3;
  }
  .price__box-cardTwo {
    order: 1;
  }
  .price__box-cardThree {
    order: 2;
  }
  .project__box-card {
    scale: 0.8;
  }
}
@media (min-width: 1240px) {
  .price__box-cardOne {
    order: 2;
    align-self: flex-start;
  }
  .price__box-cardTwo {
    order: 1;
  }
  .price__box-cardThree {
    order: 3;
  }
}/*# sourceMappingURL=style.css.map */