@use 'colors' as c;
@use 'components';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Oxygen', sans-serif;
	font-size: 1.6rem;
	color: c.$silverColor;
	background-color: c.$bgColor;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	height: 60px;
	background-color: c.$bgLight;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;

	&__logo {
		padding: 0.5em;
		font-size: 2.4rem;
		font-weight: bold;
		color: c.$blueColor;
	}

	&__menu {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		position: absolute;
		top: 60px;
		left: 0;
		height: 320px;
		width: 100%;
		translate: 0;
		background-color: c.$bgLight;
		translate: 200% 0;
		transition: translate 0.5s;

		&--active {
			translate: 0;
		}

		&-items {
			color: c.$silverColor;
			text-decoration: none;
		}
	}

	&__bars {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 5px;
		padding: 0.5em;

		&-item {
			height: 3px;
			width: 30px;
			border-radius: 10px;
			transition: rotate 0.3s, opacity 0.2s, translate 0.3s 0.1s;
		}

		&-item:nth-child(odd) {
			background-color: c.$blueColor;
		}
		&-item:nth-child(2) {
			background-color: c.$redColor;
		}

		&-show &-item:nth-child(1) {
			rotate: -45deg;
			translate: 0 8px;
		}

		&-show &-item:nth-child(2) {
			opacity: 0;
		}

		&-show &-item:nth-child(3) {
			rotate: 45deg;
			translate: 0 -8px;
		}
	}
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 1em;
	height: 100vh;
	text-align: center;

	&__title {
		margin: 0.2em 0;
		font-size: 4rem;
		font-weight: bold;
	}

	&__text {
		&-One,
		&-Two {
			font-size: 2.4rem;
			font-weight: lighter;
		}

		&-One {
			color: c.$blueColor;
		}

		&-Two {
			color: c.$redColor;
		}

		&-Three {
			margin-top: 2em;
			width: 80%;
			font-size: 1.4rem;
			font-weight: lighter;
		}
	}

	&__btns {
		display: flex;
		gap: 25px;
		margin-top: 2.5em;

		&-btn {
			padding: 0.1em 0.2em;
			height: 28px;
			width: 95px;
			border: none;
			border-radius: 8px;
			color: c.$bgLight;
		}
	}

	&__img {
		display: none;
	}
}

.strongPages {
	background-color: c.$silverColor;

	&__boxOne,
	&__boxTwo,
	&__boxThree {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 2em 1em;
	}

	&__title {
		font-size: 2.4rem;
		font-weight: bold;
		color: c.$redColor;
	}

	&__text {
		font-size: 2rem;
		color: c.$bgColor;
	}
}

.about {
	text-align: center;
	padding-bottom: 2em;

	&__img {
		display: none;
	}

	&__title {
		padding: 2em 1em;
		font-size: 1.8rem;
		font-weight: bold;

		span {
			font-size: 3.2rem;
		}
	}

	&__text {
		padding: 0 2em;
		font-size: 1.4rem;
	}

	&__contactBox {
		margin-top: 2em;
	}
}

.experience {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin-top: 4.5em;
	background-color: c.$heroColor;

	&__title {
		padding: 2em 0;
		font-size: 1.8rem;
		font-weight: bold;

		span {
			font-size: 3.2rem;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		gap: 80px;
		margin: 4em 0;

		&-html,
		&-css,
		&-js,
		&-react {
			position: relative;
			height: 20px;
			width: 220px;
			background-color: c.$silverColor;
		}

		&-html::after,
		&-css::after,
		&-js::after,
		&-react::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			background-color: c.$blueColor;
		}

		&-html::before,
		&-css::before,
		&-js::before,
		&-react::before{
			position: absolute;
			top: -25px;
			left: 0;
		}

		&-html::after {
			width: 90%;
		}

		&-html::before{
			content: 'html';
		}

		&-css::after{
			width: 95%;
		}

		&-css::before{
			content: 'css';
		}

		&-js::after{
			width: 85%;
		}

		&-js::before{
			content: 'js';
		}

		&-react::after{
			width: 50%;
		}

		&-react::before{
			content: 'react';
		}

		&-percent{
			position: absolute;
			right: 0;
			top: -25px;
		}
	}
}

.contact{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	padding: 0 1em;
	height: 100vh;
	text-align: center;
	color: c.$redColor;
	background-color: c.$silverColor;

	&__title{
		font-size: 4rem;
		animation: text 3s alternate infinite;
	}

	&__text{
		font-size: 2rem;
		font-weight: lighter;
	}
}

@keyframes text{
	to{
		color: c.$blueColor;
	}

	from{
		color: c.$redColor;
	}
}

//?=============
//?MEDIA
//?=============
@media (min-width: 768px) {
	.nav {
		left: 50%;
		width: 100%;
		height: 70px;
		transform: translate(-50%);

		&__logo {
			font-size: 3.6rem;
		}

		&__bars {
			display: none;
		}

		&__menu {
			display: flex;
			flex-direction: row;
			align-items: center;
			position: relative;
			top: 0;
			height: 100%;
			width: 45%;
			translate: 0;

			&-items {
				margin-right: 1em;
				font-size: 2rem;
				color: c.$silverColor;
				text-decoration: none;
				transition: color 0.3s;

				&:hover {
					color: c.$redColor;
				}
			}
		}
	}

	.header {
		&__title {
			font-size: 4.8rem;
		}

		&__text {
			&-One,
			&-Two {
				font-size: 3.6rem;
			}

			&-Three {
				width: 65%;
				font-size: 1.6rem;
			}
		}

		&__btns {
			margin-top: 4.5em;
			gap: 70px;

			&-btn {
				height: 42px;
				width: 142px;
				font-size: 1.6rem;
				font-weight: lighter;
				transition: scale 0.3s;

				&:hover {
					scale: 1.1;
				}
			}
		}
	}

	.about {
		&__box {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		&__title {
			font-size: 2.4rem;

			span {
				font-size: 4rem;
			}
		}

		&__text {
			width: 80%;
			font-size: 2rem;
		}

		&__contactBox {
			font-size: 2rem;
		}
	}

	.experience{
		&__title{
			font-size: 2.4rem;

			span{
				font-size: 4rem;
			}
		}

		&__box{
			&-html,
			&-css,
			&-js,
			&-react{
				width: 450px;
			}

			&-html::before,
			&-css::before,
			&-js::before,
			&-react::before{
				top: -40px;
				font-size: 2.4rem;
			}

			&-percent{
				top: -40px;
				font-size: 2.4rem;
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		position: relative;
		align-items: flex-start;
		text-align: left;
		width: 80%;

		&__text {
			&-Three {
				width: 50%;
			}
		}

		&__img {
			display: block;
			position: absolute;
			left: 95%;
			width: 400px;
			height: 450px;
			background-image: url('../img/PhotoOneTwo.svg');
			transform: translate(-95%);
		}
	}

	.main {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}

	.strongPages {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15%;
		width: clamp(80%, 800px, 1200px);
		height: 150px;
		border-radius: 70px;
	}

	.about {
		display: flex;
		gap: 5%;
		margin: 10em 0;

		&__img {
			display: block;
			margin-left: 5em;
			height: 425px;
			width: 560px;
			background-size: cover;
			background-image: url('../img/photoTwoTwo.svg');
		}

		&__box {
			margin-left: 0 20em;
			align-items: flex-start;
			text-align: left;
			width: 50%;
		}

		&__title {
			padding: 2em 0;
		}

		&__text {
			padding: 0;
		}
	}

	.experience{
		padding: 5em 0;
		width: 100%;
		&__box{
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			flex-direction: row;
			width: 70%;
		}
	}
}
